@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700&display=swap');

:root{
    --green:#000000;
    --black:#444;
    --light-color:#777;
    --boc-shadow:.5rem .5rem 0 rgba(22,160,133,.2);
    --text-shadow:.4rem .4rem 0 rgba(0,0,0,.2);
    --border:.2rem solid var(--green);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section{
    padding: 2rem 9%;
}


.heading{
    text-align: center;
    padding-bottom: 2rem;
    /* text-shadow: var(--text-shadow); */
    text-transform: uppercase;
    color: var(--black);
    font-size: 5rem;
    letter-spacing: .4rem;
}
/* color of service into green */

.heading span{
    text-transform: uppercase;
    color: #f13AB1
}



.doctors .box-container{
    display: grid;
    gap:2rem;
    grid-template-columns: repeat(auto-fit,minmax(27rem,1fr));

}

.doctors .box-container .box{
    text-align: center;
    background: #fff;
    border-radius: 5rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    padding: 2rem;
}

.doctors .box-container .box img{
    height: 20rem;
    /* border: var(--border); */
    border-radius: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.doctors .box-container .box h3{
    color: var(--black);
    font-size: 2.5rem;
}
.doctors .box-container .box span{
    color: var(--green);
    font-size: 1.5rem;
}

.doctors .box-container .box .share{
    padding-top: 1rem;
}
.doctors .box-container .box .share a{
    height: 5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    color: #f13AB1;
    border-radius: .5rem;
    border: var(--border);
    margin: 1rem;
}
.doctors .box-container .box .share a:hover{
    background: var(--green);
    color: #fff;
    box-shadow: var(--box-shadow);
}
/* doctor section end */




@media (max-width:450px){

    html{
        font-size:50%;
    }
}